# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib
/liafc
/liafc.exe
/liaf_server.exe
/liaf_linux
/liaf_server_linux
/server
/server.exe

# Cache e builds temporários
.liaf_cache/
.certs/

# OS
Thumbs.db
.DS_Store
