# Variáveis de Ambiente e Segredos
.env
.env.*
!.env.example

# Documentação interna, logs e rascunhos de desenvolvimento
.docs/

# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib
/liafc
/liafc.exe
/liaf_server.exe
/liaf_linux
/liaf_server_linux
/server
/server.exe

# Pipelines internos e automações locais
/pipeline

# Cache, builds e dados temporários
.liaf_cache/
.certs/
__pycache__/
*.pyc

# IDEs e Sistema Operacional
.vscode/
.idea/
Thumbs.db
.DS_Store

